<a href="https://colab.research.google.com/github/AlessandroRossiUFF/desafio3/blob/main/O_Desafio_CR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Você precisa calcular o CR de alunos de uma universidade. Para isto será preciso ler de um arquivo csv a lista de notas dos alunos e, de acordo com as notas e os critérios da universidade, calcular o CR de todos os alunos. Ao final do processo, será preciso mostrar na tela o CR de todos os alunos e qual a média de CR dos cursos.

Regras
A nota do aluno vai de zero até 100;
Uma nota é associada a uma disciplina e a um código de curso;
O CR é a média ponderada da nota do aluno naquela turma com a carga horária daquela turma. O cálculo é:
CR = Nota(i)*CargaHoraria(i)/TotalCargaHoraria

i é a i-ésima turma de um aluno
Utilizar Orientação a Objetos para resolver o problema
Escolha a linguagem que achar adequada

#Vamos começar declarando alguns elementos que serão necessários para desenvolver nosso código.

In [50]:
import pandas as pd
dados = pd.read_csv("/content/drive/MyDrive/notas.csv", usecols=[0, 1, 2, 3, 4])

df_aluno = pd.DataFrame({'Matricula':[],'CR':[],'Horas':[]
                         })
df_turma = pd.DataFrame({'CODIGO_DE_TURMA':[],'CR':[], 'Horas':[]
                         })

df_aluno['Matricula'] = dados['MATRICULA'].unique()
df_turma['CODIGO_DE_TURMA'] = sorted(dados['COD_CURSO'].unique())

class DataBase:
  lista = dados
  turmaU = sorted(dados['COD_CURSO'].unique())         
  matriculaT = dados['MATRICULA']
  matriculaU = dados['MATRICULA'].unique()             
  horas = dados['CARGA_HORARIA']
  notas = dados['NOTA']
  horasI = []
  horasT = []

aluno = DataBase()
turma = DataBase()
                                  
dados
#A baixo exibiremos uma amostra de um trecho da exibição do CRV orignial
#sem o cálculo do CR.

     MATRICULA COD_DISCIPLINA  COD_CURSO  NOTA  CARGA_HORARIA
0          100       SEN00209          4    82             60
1          100       MPS00012         56    90             30
2          100       SGE00014          4     8             30
3          100       GLC00203         21    65             60
4          100       GCL00100         21    96             60
..         ...            ...        ...   ...            ...
294        116       GLE00415         21    88             60
295        116       SGE00012          4     0             30
296        116       GLC00279         21    70             60
297        116       TCC00325         56    68             60
298        116       GMA00019         31     5             60

[299 rows x 5 columns]

#Agora vamos calcular o CR dos alunos.

Nesse bloco de código vamos cálcular a quantidade de horas totais referentes a cada numero de matricula.

In [51]:
for i in range(len(aluno.matriculaU)):                 
    for j in range(len(aluno.matriculaT)):               #Esse bloco de código é respondável 
      if aluno.matriculaT[j] == aluno.matriculaU[i]:     #por cálcular a somatória de todas
         aluno.horasI.append(aluno.horas[j])             #as horas de aula referentes
         dados.loc[j,'indice']=aluno.horasI[j]           #a cada código de matricula.
    for j in range(len(aluno.matriculaT)):
      if aluno.matriculaT[j] == aluno.matriculaU[i]:
         dados.loc[j,'indice'] = sum(aluno.horasI)
         s=0
         while s < len(aluno.horasI):
           aluno.horasI[s]=0                 
           s+=1                              
aluno.horasT=dados['indice'].tolist()

def remove_item(my_list,*args):
   deletar = list(args)         
   for item in deletar:
       while item in my_list:
          my_list.remove(item)
   return my_list          
remove_item(aluno.horasT, 0)  #A função de remover qualquer numero 0 da lista.

[870.0,
 494.0,
 806.0,
 1443.0,
 570.0,
 790.0,
 1133.0,
 824.0,
 1980.0,
 690.0,
 1290.0,
 617.0,
 2187.0,
 210.0,
 1035.0,
 1944.0,
 934.0]

Aqui vamos fazer o calculo do CR referente a cada numero de matricula

In [52]:
for i in range(len(aluno.matriculaU)):    #Esse bloco de código é responsável 
  cr=0                                    #por calcular o CR referente a cada código.          
  for j in range(len(dados)):
    if aluno.matriculaT[j] == aluno.matriculaU[i]:
      cr += (turma.notas[j] * dados.loc[j,'CARGA_HORARIA']) / aluno.horasT[i]
      df_aluno.loc[i,'CR'] = int(cr)
Matricula_CR = df_aluno.drop(columns=['Horas'])

#Agora vamos calcular o CR das turmas

Primeiro pegaremos a quantidade de horas totais referentes a cada código de curso

In [53]:
u = []   #Vetores auxiliares que serão usados
v = []   #apenas nesse bloco de código  
x = []
for i in range(len(turma.turmaU)):
  for j in range(len(turma.lista)):
    if turma.turmaU[i] == dados.loc[j,'COD_CURSO']:
      v.append(dados.loc[j,'CARGA_HORARIA'])       
  for j in range(len(turma.lista)):
    if turma.turmaU[i] == dados.loc[j,'COD_CURSO']:
      u.append(sum(v))     
      s=0
      while s < len(v):
        v[s] = 0
        s+=1

for i in range(len(u)): #Uma outra forma de remo
  if u[i] != 0:
    x.append(u[i])  
turma.horasT = x
turma.horasT
#Abaixo vamos imprimir o vetor com as horas totais referentes a cada turma.

[5460, 6150, 2200, 3167, 840]

Aqui faremos o calculo para obter o CR referente a cada código de curso

In [54]:
for i in range(len(turma.turmaU)):          
  cr=0                                           
  for j in range(len(dados)):
    if turma.turmaU[i] == dados.loc[j,'COD_CURSO']:
        cr += (turma.notas[j] * dados.loc[j,'CARGA_HORARIA']) / turma.horasT[i]
        df_turma.loc[i,'CR'] = int(cr)
Turma_CR = df_turma.drop(columns=['Horas'])

#E agora podemos enfim exibir todos os dados obtidos

###O CR dos alunos é:

In [55]:
Matricula_CR

    Matricula    CR
0         100  63.0
1         101  82.0
2         102  56.0
3         103  57.0
4         104  64.0
5         105  47.0
6         106  64.0
7         107  51.0
8         108  65.0
9         109  79.0
10        110  72.0
11        111  78.0
12        112  67.0
13        113  58.0
14        114  61.0
15        115  57.0
16        116  59.0

###O CR das turmas é:

In [56]:
Turma_CR

   CODIGO_DE_TURMA    CR
0                4  49.0
1               21  74.0
2               31  55.0
3               56  67.0
4              103  84.0